<div class="content">
    <h2>{{title}}</h2>
    <form #editarUsuario="ngForm" (ngSubmit)="editar()">
        <mat-form-field class="col-xs-12">
            <input matInput type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.first_name"
                placeholder="First name" autofocus required>
            <mat-error *ngIf="nombre.invalid">El nombre del usuario es requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="col-xs-12">
            <input matInput type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuario.last_name"
                placeholder="Last name" autofocus required>
            <mat-error *ngIf="apellido.invalid">El apellido del usuario es requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="col-xs-12">
            <input matInput type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email" placeholder="Email"
                autofocus required>
            <mat-error *ngIf="email.invalid">El email es requerido</mat-error>
        </mat-form-field>
        <button [routerLink]="['/admin/users']" class="btn" mat-raised-button color="default"
            type="button">Cancelar</button>
        <button [disabled]="!editarUsuario.form.valid" class="btn" mat-raised-button color="primary"
            type="submit">Guardar</button>
    </form>
</div>