.content{
    padding: 50px;
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

.grilla{
    padding: 4px;
    /*border: 1px solid #fff;*/
}

.content-fotografia-disabled{
    /*transform: scale(0.8) rotate(-10deg);*/
    opacity: 0.3;
}

.content-fotografia{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #333;
}

.fotografia {
    height: 200px;
    background-size: cover;
    background-position: center center;
    border: 1px solid #999;
    border-bottom: none;
}

.datos{
    height: 40px;
    width: 100%;
    font-size: 11px;
    padding: 5px;
    color: #eee;
    border: 1px solid #999;
    border-top: none;
}

.fotografia-hover{
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0%;
    right: 0px;
    bottom: 0px;
    background: #333;
    display: flex;
    overflow: hidden;
    transition: all .2s linear;
}

.fotografia-hover div {
    margin: auto;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(0);
    opacity: 0;
    transition: all .2s linear;
}

.fotografia-hover mat-icon{
    color: #fff;
}

.content-fotografia:hover .fotografia-hover{
    opacity: 0.5;
}

.content-fotografia:hover .fotografia-hover div{
    transform: scale(1);
    opacity: 1;
}

.fotografia-hover div:hover{
    background: #fff;
}

.fotografia-hover div:hover mat-icon{
    color: #333;
}

.option{
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #333;
    overflow: hidden;
}

.add-fotografia {
    background: rgba(138, 175, 35, 0.5);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto 20px;
    display: flex;
    transition: all .2s linear;
}

.add-fotografia:hover{
    background: rgba(138, 175, 35, 1);
}

.add-fotografia mat-icon{
    font-size: 20px;
    width: 20px;
    height: 20px;
    background: #eee;
    margin: auto;
}