<div class="content" [@anim-listado]="usuario">
    <div class="grilla col-lg-2 col-md-3 col-sm-4" *ngFor="let user of usuario">
        <div class="content-fotografia">
            <img class="fotografia" [style.background-image] src="{{user.avatar}}" alt="">
            <div class="datos">
                {{user.id}} - {{user.first_name}} {{user.last_name}}
            </div>
            <div class="fotografia-hover">
                <div [routerLink]="['/admin/edit', user.id]">
                    <mat-icon>create</mat-icon>
                </div>
                <div (click)="eliminarUsuario(user.id)">
                    <mat-icon >delete</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>