<div class="content">
    <div class="grilla col-lg-2 col-md-3 col-sm-4" *ngFor="let user of albums">
        <div class="content-fotografia">
            <img class="fotografia" [style.background-image] src="{{user.thumbnailUrl}}" alt="">
            <div class="datos">
                {{user.id}} - {{user.title}}
            </div>
        </div>
    </div>
</div>