<div class="container-fluid">
    <div class="content-login col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <mat-card class="example-card">
            <h2>LOGIN</h2>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <mat-form-field class="col-xs-12">
                    <input matInput type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required
                        placeholder="Email" autofocus>
                    <mat-error *ngIf="email.invalid">El email es requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="col-xs-12">
                    <input matInput type="password" name="password" #password="ngModel" [(ngModel)]="user.password"
                        required placeholder="Password">
                    <mat-error *ngIf="password.invalid">El password es requerido</mat-error>
                </mat-form-field>
                <button mat-raised-button class="btn-ingresos" type="submit"
                    [disabled]="!loginForm.form.valid">INGRESAR</button>
            </form>
        </mat-card>
    </div>
</div>