.banner{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    background: #8c8888;
    color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.opciones-usuarios{
    margin: auto 10px;
    display: flex;
    flex-direction: row;
}

.opciones-usuarios div{
    margin: auto 15px;
}

.logout{
    cursor: pointer;
    font-size: 11px;
}

.content-admin{
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    /*background: #444;*/
}


/*Admin*/
.home{
    margin: auto auto auto 20px;
    cursor: pointer;
    /*opacity: .6;*/
    transition: all .2s linear;
}

.home:hover{
    opacity: 1;
}
/*Admin*/

.album{
    margin: auto auto auto 20px;
    cursor: pointer;
    /*opacity: .6;*/
    transition: all .2s linear;
}