<div class="banner">
    <div class="home" [routerLink]="['/admin/users']">
        <!--<mat-icon>home</mat-icon>-->
        Home
    </div>
    <div class="album" [routerLink]="['/admin/albums']">
        Albums
    </div>
    <div class="opciones-usuarios">
        <div class="datos">
            <b>usuario: </b>{{identity}}
        </div>
        <div class="logout" (click)="logOut()">
            <mat-icon>logout</mat-icon>
        </div>
    </div>
</div>
<div class="content-admin">
    <router-outlet></router-outlet>
</div>