<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Title album</th>
                    <th>View photos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of albums">
                    <td>{{user.title}}</td>
                    <td class="center">

                        <mat-icon [routerLink]="['/admin/ver-fotos', user.id]">monochrome_photos</mat-icon>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>