<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Direction</th>
                    <th>Phone</th>
                    <th>Website</th>
                    <th>Company</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usuario">
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>---</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.website}}</td>
                    <td>---</td>
                    <td>
                        <div [routerLink]="['/admin/ver-album', user.id]">
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>